name: Zero Touch – Deploy & Verify

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  deploy-and-verify:
    runs-on: ubuntu-latest

    env:
      AWS_REGION: ap-south-1
      CLUSTER_NAME: zero-touch-cluster
      APP_NAME: ${{ github.event.repository.name }}

    steps:
    # -------------------------------------------------
    # 1️ Checkout
    # -------------------------------------------------
    - name: Checkout repository
      uses: actions/checkout@v4

    # -------------------------------------------------
    # 2️ AWS Auth (OIDC)
    # -------------------------------------------------
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
        aws-region: ap-south-1

    # -------------------------------------------------
    # 3️ Configure kubectl
    # -------------------------------------------------
    - name: Configure kubectl
      run: |
        aws eks update-kubeconfig \
          --name $CLUSTER_NAME \
          --region $AWS_REGION

        kubectl version --client
        kubectl cluster-info

    - name: Ingress ALB
      run: |
        kubectl describe ingress app-ingress

    # -------------------------------------------------
    # 7️ Verify Ingress
    # -------------------------------------------------
    - name: Verify Ingress
      run: |
        kubectl get ingress

        if ! kubectl get ingress app-ingress > /dev/null 2>&1; then
          echo " app-ingress not found"
          exit 1
        fi

        echo " Ingress exists"

    # -------------------------------------------------
    # 8️ Verify ALB Address
    # -------------------------------------------------
    - name: Verify ALB Address
      run: |
        echo "Waiting for ALB address..."

        for i in {1..12}; do
          ADDRESS=$(kubectl get ingress app-ingress -o jsonpath='{.status.loadBalancer.ingress[0].hostname}')
          if [ -n "$ADDRESS" ]; then
            echo " ALB Address assigned:"
            echo "$ADDRESS"
            exit 0
          fi
          echo " ALB not ready yet, retrying..."
          sleep 15
        done

        echo " ALB address was not assigned within time"
        exit 1
